
.blockBackground{
    width: inherit;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    display: none;
    position: fixed;
    z-index: 1;
}

.pageForm{
    position: fixed;
    background: white;
    padding: 20px;
    box-shadow: 0 0 2px black;
    border-radius: 15px;
    top: 40%;
    left: 60%;
    width: 50%;
    transform: translate(-50%, -50%);
}
#btnAddBlock{
    text-align: center;
}
.pages{
    padding:20px;
    text-align: center;
    background: white;
    box-shadow: 0 0 2px black;
    margin: 10px 20px 10px 20px;
}

.pages h2{
    margin: 0;
}

.options{
    display: flex;
    padding: 20px;
}

.optionLeft{
    text-align: center;
    margin: auto;
}
.optionRight{
    text-align: center;
    margin: auto;
}

.pageBlock{
    padding: 10px 15px;
    background: white;
    box-shadow: 0 0 3px -1px black;
    margin:20px 30px;
    border-radius: 5px;
    position: relative;
}

.pageBlock h1, h2, h3, h4, h5, h6{
    margin: 5px;
    color: #524e4e;
    font-family: cursive;
}

#pageButtons{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.pageBtn{
    margin: 0 10px;
    padding: 1px 5px;
}

.newBtn{
    padding: 15px;
}

.shortBtn{
    padding: 5px 50px;
}

#checkMain{
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
}
.pageLink{
    text-decoration: underline;
}
.pageLink:hover{
color: red;
}

.inputText{
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
    margin: 15px auto;
    background: rgba(234, 233, 233, 0.21);
    box-shadow: 0 0 3px -1px black;
    border: none;
    text-align: center;
}

.btnFloatBlock{
    display: flex;
    justify-content: space-evenly;
}
